<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            line-height: 1.6;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }
    </style>
</head>
<body>
    <h1>Welcome to your personalized movie watchlist!</h1>
    In this application you can research movies, and then add a movie to your watchlist if you would like to watch it later.
    <br>
    <br>
    <br>

    <h2>Add to Watchlist</h2>
    <ul>
        <li>To add a movie to your watchlist select <a href="/insertMovie">Insert Movie</a></li>
        <li>To review your watchlist select <a href="/viewAllMovies">Get WatchList</a></li>
    </ul>

    <hr>

    <h2>Clear Watchlist</h2>
    <ul>
        <li>To remove all movies from your watchlist select <a href="/removeAllMovies">Remove All From List</a></li>
    </ul>

    <hr>

    <h2>Research Movie</h2>
    <ul>
        <li>To research a movie select <a href="/researchMovie">Research Movie</a></li>
    </ul>
</body>
</html>
