<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertion Confirmation</title>
</head>
<body>
    <h1>Insertion Confirmation</h1>
    <!--
        We will have the message, "Movie inserted successfully" if the movie was inserted successfully
        The message will be followed by the movie's name in bold
    -->
    Movie inserted successfully: <strong><%= movieName %></strong>
    <br>
    <hr>
    <br>
    <a href="/">Return to main page</a>
</body>
</html>