<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Remove</title>
</head>
<body>
    <h1>Removing All Movies</h1>
    <form method="post">
        <span>
            Please note that this will remove all movies from your watchlist. This action <strong>cannot be undone</strong>
        </span>

        <input type="submit" value="Remove all movies">
    </form>
    <hr>
    <a href="/">Return to main page</a>
</body>
</html>